body {
  background: #fff none repeat scroll 0 0;
  font-family: Tahoma,Calibri,Verdana,Geneva,sans-serif;
  font-size: 0.9em;
  max-width: 1100px;
  min-width: 800px;
  margin: 0 auto;
  text-align: center;
}
h2 {
  font-size: 0.8em;
  text-align: left;
}
p {
  text-align: justify;
}

form label {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 10%;
}
form textarea {
  box-sizing: border-box;
  font-family: monospace;
  font-size: 90%;
  width: 80%;
}
form #submit {
  font-size: 1em;
  margin-top: 10px;
}

.leftpanel {
  display: inline-block;
  float: left;
  padding-right: 1em;
  text-align: left;
  width: 25%;
}
.rightpanel {
  display: inline-block;
  width: 70%;
}